@keyframes slideUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}

#invitePopup {
	position: absolute;
	text-align: center;
	animation: slideUp 200ms ease-out;
	opacity: 1;
	margin-bottom: 0;
	bottom: 5.25rem;
}

#invitePopup.hide {
	animation: slideDown 200ms ease-out;
	opacity: 0;
}